USE [master]
GO
/****** Object:  Database [BSAF]    Script Date: 4/2/2020 7:29:20 PM ******/
CREATE DATABASE [BSAF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BSAF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BSAF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BSAF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BSAF_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BSAF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BSAF]
GO
/****** Object:  User [KBL-IMU-KAMALPO\WDAGUtilityAccount]    Script Date: 4/2/2020 7:29:21 PM ******/
CREATE USER [KBL-IMU-KAMALPO\WDAGUtilityAccount] FOR LOGIN [KBL-IMU-KAMALPO\WDAGUtilityAccount] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/2/2020 7:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 4/2/2020 7:29:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 4/2/2020 7:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 4/2/2020 7:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 4/2/2020 7:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 4/2/2020 7:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NULL,
	[TwoFactorEnabled] [bit] NULL,
	[LockoutEnabled] [bit] NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[AccessFailedCount] [int] NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[StationCode] [nvarchar](200) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Beneficiaries]    Script Date: 4/2/2020 7:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beneficiaries](
	[BeneficiaryID] [int] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[ScreeningDate] [date] NOT NULL,
	[ProvinceBCP] [nvarchar](50) NULL,
	[BorderPoint] [nvarchar](50) NULL,
	[BeneficiaryType] [nvarchar](50) NULL,
	[ReturnStatus] [nvarchar](50) NULL,
	[OriginProvince] [nvarchar](50) NULL,
	[OriginDistrict] [int] NULL,
	[OriginVillage] [nvarchar](200) NULL,
	[ReturnProvince] [nvarchar](50) NULL,
	[ReturnDistrict] [int] NULL,
	[ReturnVillage] [nvarchar](200) NULL,
	[LeavingReason1] [nvarchar](50) NULL,
	[LeavingReason1Other] [nvarchar](500) NULL,
	[LeavingReason2] [nvarchar](50) NULL,
	[LeavingReason2Other] [nvarchar](500) NULL,
	[LeavingReason3] [nvarchar](50) NULL,
	[LeavingReason3Other] [nvarchar](500) NULL,
	[OwnHouse] [bit] NULL,
	[WhereWillLive] [nvarchar](50) NULL,
	[RentPayForAccom] [int] NULL,
	[RentPayCurrency] [nvarchar](50) NULL,
	[AllowForJob] [bit] NULL,
	[CountryOfExile] [nvarchar](50) NULL,
	[CountryOfExilOther] [nvarchar](50) NULL,
	[BeforReturnProvince] [int] NULL,
	[BeforReturnDistrictID] [int] NULL,
	[BeforReturnRemarks] [nvarchar](500) NULL,
	[FamilyMemStayedBehind] [bit] NULL,
	[FamilyMemStayedBehindNo] [int] NULL,
	[LengthOfStayYears] [int] NULL,
	[LengthOfStayMonths] [int] NULL,
	[LengthOfStayDays] [int] NULL,
	[WouldYouReturn] [bit] NULL,
	[HaveFamilyBenefited] [bit] NULL,
	[TransportationDate] [datetime] NULL,
	[TransportationInfo] [nvarchar](500) NULL,
	[TransportAccompaniedBy] [nchar](10) NULL,
	[TransportAccomByNo] [nvarchar](50) NULL,
	[TopNeed1] [nvarchar](50) NULL,
	[TopNeed1Other] [nvarchar](500) NULL,
	[TopNeed2] [nvarchar](50) NULL,
	[TopNeed2Other] [nvarchar](500) NULL,
	[TopNeed3] [nvarchar](50) NULL,
	[TopNeed3Other] [nvarchar](500) NULL,
	[IntendToDo] [nvarchar](50) NULL,
	[IntendToReturnToHostReason] [nvarchar](500) NULL,
	[ProfessionInHostCountry] [nvarchar](50) NULL,
	[ProfessionInHostCountryOther] [nvarchar](500) NULL,
	[HoHCanReadWrite] [bit] NULL,
	[HoHEducationLevel] [nvarchar](50) NULL,
	[HoHEducationLevelOther] [nvarchar](500) NULL,
	[NumHHHaveTaskira] [int] NULL,
	[NumHHHavePassport] [int] NULL,
	[NumHHHaveDocOther] [int] NULL,
	[DoHaveSecureLivelihood] [bit] NULL,
	[DidChildrenGoToSchoole] [bit] NULL,
	[NumChildrenAttendedSchoole] [int] NULL,
	[InsertedBy] [nvarchar](200) NULL,
	[InsertedDate] [datetime] NOT NULL,
	[LastUpdatedBy] [nvarchar](200) NULL,
	[LastUpdatedDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[IsSubmitted] [bit] NULL,
	[IsCardIssued] [bit] NULL,
 CONSTRAINT [PK_Beneficiaries] PRIMARY KEY CLUSTERED 
(
	[BeneficiaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BenefitedFromOrgs]    Script Date: 4/2/2020 7:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenefitedFromOrgs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BeneficiaryID] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[ProvinceCode] [nvarchar](50) NULL,
	[DistrictID] [int] NULL,
	[Village] [nvarchar](500) NULL,
	[OrgCode] [nvarchar](50) NOT NULL,
	[AssistanceProvided] [nvarchar](1000) NULL,
 CONSTRAINT [PK_BenefitedFromOrgs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BorderCrossingPoints]    Script Date: 4/2/2020 7:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BorderCrossingPoints](
	[BCPId] [int] IDENTITY(1,1) NOT NULL,
	[BCPCode] [nvarchar](100) NULL,
	[VillageId] [int] NOT NULL,
	[DistrictCode] [nvarchar](300) NULL,
	[ProvinceCode] [nvarchar](300) NULL,
	[NeighCountryCode] [nvarchar](300) NULL,
	[EnName] [nvarchar](300) NULL,
	[DrName] [nvarchar](300) NULL,
	[PaName] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.BorderCrossingPoints] PRIMARY KEY CLUSTERED 
(
	[BCPId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BroughtItems]    Script Date: 4/2/2020 7:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BroughtItems](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BeneficiaryID] [int] NULL,
	[ItemCode] [nvarchar](50) NULL,
	[ItemOther] [nvarchar](500) NULL,
 CONSTRAINT [PK_BroughtItems] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Determinations]    Script Date: 4/2/2020 7:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Determinations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BeneficiaryID] [int] NULL,
	[DeterminationCode] [nvarchar](50) NULL,
	[AnswerCode] [nvarchar](50) NULL,
	[Other] [nvarchar](500) NULL,
 CONSTRAINT [PK_Determinations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 4/2/2020 7:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[DistrictId] [int] IDENTITY(1,1) NOT NULL,
	[DistrictCode] [int] NOT NULL,
	[ProvinceCode] [nvarchar](300) NULL,
	[EnName] [nvarchar](300) NULL,
	[DrName] [nvarchar](300) NULL,
	[PaName] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Districts] PRIMARY KEY CLUSTERED 
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HostCountryDistricts]    Script Date: 4/2/2020 7:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HostCountryDistricts](
	[DistrictId] [int] IDENTITY(1,1) NOT NULL,
	[ProvinceId] [int] NOT NULL,
	[EnName] [nvarchar](300) NULL,
	[DrName] [nvarchar](300) NULL,
	[PaName] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.HostCountryDistricts] PRIMARY KEY CLUSTERED 
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HostCountryProvinces]    Script Date: 4/2/2020 7:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HostCountryProvinces](
	[ProvinceId] [int] IDENTITY(1,1) NOT NULL,
	[CountryCode] [nvarchar](300) NULL,
	[EnName] [nvarchar](300) NULL,
	[DrName] [nvarchar](300) NULL,
	[PaName] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.HostCountryProvinces] PRIMARY KEY CLUSTERED 
(
	[ProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HostCountrySchool]    Script Date: 4/2/2020 7:29:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HostCountrySchool](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BeneficiaryID] [int] NOT NULL,
	[SchoolTypeCode] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HostCountrySchool] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Individuals]    Script Date: 4/2/2020 7:29:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Individuals](
	[IndividualID] [int] IDENTITY(1,1) NOT NULL,
	[BeneficiaryID] [int] NULL,
	[Name] [nvarchar](500) NULL,
	[DrName] [nvarchar](500) NULL,
	[FName] [nvarchar](500) NULL,
	[DrFName] [nvarchar](500) NULL,
	[GenderCode] [nvarchar](50) NULL,
	[MaritalStatusCode] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[IDTypeCode] [nvarchar](50) NULL,
	[IDNo] [nvarchar](500) NULL,
	[RelationshipCode] [nvarchar](50) NULL,
	[ContactNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_FamilyMember] PRIMARY KEY CLUSTERED 
(
	[IndividualID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LivelihoodEmpNeeds]    Script Date: 4/2/2020 7:29:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LivelihoodEmpNeeds](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NeedCode] [nvarchar](50) NOT NULL,
	[BeneficiaryID] [int] NOT NULL,
 CONSTRAINT [PK_LivelihoodEmpNeeds] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LookupTypes]    Script Date: 4/2/2020 7:29:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookupTypes](
	[LookupId] [int] IDENTITY(1,1) NOT NULL,
	[LookupCode] [nvarchar](100) NULL,
	[EnName] [nvarchar](300) NULL,
	[DrName] [nvarchar](300) NULL,
	[PaName] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.LookupTypes] PRIMARY KEY CLUSTERED 
(
	[LookupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LookupValues]    Script Date: 4/2/2020 7:29:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookupValues](
	[ValueId] [int] IDENTITY(1,1) NOT NULL,
	[LookupCode] [nvarchar](100) NULL,
	[ValueCode] [nvarchar](100) NULL,
	[EnName] [nvarchar](300) NULL,
	[DrName] [nvarchar](300) NULL,
	[PaName] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.LookupValues] PRIMARY KEY CLUSTERED 
(
	[ValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MainConcerns]    Script Date: 4/2/2020 7:29:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainConcerns](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BeneficiaryID] [int] NOT NULL,
	[ConcernCode] [nvarchar](50) NOT NULL,
	[Other] [nvarchar](500) NULL,
 CONSTRAINT [PK_MainConcerns] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MoneySources]    Script Date: 4/2/2020 7:29:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MoneySources](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BeneficiaryID] [int] NULL,
	[MoneySourceCode] [nvarchar](50) NULL,
	[MoneySourceOther] [nvarchar](500) NULL,
 CONSTRAINT [PK_MoneySources] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NeedTools]    Script Date: 4/2/2020 7:29:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NeedTools](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BeneficiaryID] [int] NOT NULL,
	[ToolCode] [nvarchar](50) NOT NULL,
	[Other] [nvarchar](500) NULL,
 CONSTRAINT [PK_NeedTools] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostArrivalNeeds]    Script Date: 4/2/2020 7:29:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostArrivalNeeds](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BeneficiaryID] [int] NULL,
	[NeedCode] [nvarchar](50) NULL,
	[Provided] [bit] NULL,
	[ProvidedDate] [datetime] NULL,
	[Comment] [nvarchar](500) NULL,
 CONSTRAINT [PK_PostArrivalNeeds] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 4/2/2020 7:29:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[ProvinceId] [int] IDENTITY(1,1) NOT NULL,
	[ProvinceCode] [nvarchar](100) NULL,
	[MapCode] [nvarchar](100) NULL,
	[EnName] [nvarchar](300) NULL,
	[DrName] [nvarchar](300) NULL,
	[PaName] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Provinces] PRIMARY KEY CLUSTERED 
(
	[ProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PSN]    Script Date: 4/2/2020 7:29:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PSN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BeneficiaryID] [int] NULL,
	[PSNCode] [nvarchar](50) NULL,
	[PSNOther] [nvarchar](300) NULL,
 CONSTRAINT [PK_PSN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnReasons]    Script Date: 4/2/2020 7:29:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnReasons](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BeneficiaryID] [int] NOT NULL,
	[ReasonCode] [nvarchar](50) NOT NULL,
	[Other] [nvarchar](500) NULL,
 CONSTRAINT [PK_ReturnReasons] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transportations]    Script Date: 4/2/2020 7:29:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transportations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BeneficiaryID] [int] NULL,
	[TypedCode] [nvarchar](50) NULL,
	[Other] [nvarchar](500) NULL,
 CONSTRAINT [PK_Transportions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnabled], [LockoutEnd], [AccessFailedCount], [UserName], [StationCode], [NormalizedEmail], [NormalizedUserName], [ConcurrencyStamp]) VALUES (N'ca3ba0be-337e-4a45-83d5-43c72efd1dd2', N'khan@gmail.com', 0, N'AQAAAAEAACcQAAAAEI/hrO4oy4GeD214zPDzkln/3VqsNvx8yIUKjMNDz/fYIQJ5+b/96hcEgGRGgj0J5w==', N'GR6V4765GT35VYEU2WFHGECAZHIEGVD6', NULL, 0, 0, 1, NULL, 0, N'khan', NULL, N'KHAN@GMAIL.COM', N'KHAN', N'5e8b6cbe-87b7-44fe-9fc6-1c52295cc939')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnabled], [LockoutEnd], [AccessFailedCount], [UserName], [StationCode], [NormalizedEmail], [NormalizedUserName], [ConcurrencyStamp]) VALUES (N'dbeecc31-fc19-4fb9-b10d-001fa4243592', N'zia@gmail.com', 0, N'ACIQ/wOSYZz3Xlm7w2yhiE6N1VZSDZ+ESgHVOgZTyEejlZ1Z5kRr5EwC4U2KmHQjtQ==', N'a23bf14d-c9d3-4263-9a65-0ccebf78efb3', NULL, 0, 0, 1, NULL, 0, N'zia', N'KBL', NULL, N'ZIA', NULL)
SET IDENTITY_INSERT [dbo].[Beneficiaries] ON 

SET IDENTITY_INSERT [dbo].[Beneficiaries] OFF
SET IDENTITY_INSERT [dbo].[BorderCrossingPoints] ON 

INSERT [dbo].[BorderCrossingPoints] ([BCPId], [BCPCode], [VillageId], [DistrictCode], [ProvinceCode], [NeighCountryCode], [EnName], [DrName], [PaName], [IsActive]) VALUES (1, N'MIL', 532, N'3401', N'NMR', N'IRN', N'Milak', N'میلک', N'میلک', 1)
INSERT [dbo].[BorderCrossingPoints] ([BCPId], [BCPCode], [VillageId], [DistrictCode], [ProvinceCode], [NeighCountryCode], [EnName], [DrName], [PaName], [IsActive]) VALUES (2, N'TRK', 28509, N'619', N'NGR', N'PAK', N'Torkham', N'تورخم', N'تورخم', 1)
INSERT [dbo].[BorderCrossingPoints] ([BCPId], [BCPCode], [VillageId], [DistrictCode], [ProvinceCode], [NeighCountryCode], [EnName], [DrName], [PaName], [IsActive]) VALUES (3, N'ISQ', 3084, N'3014', N'HRT', N'IRN', N'Islam Qala', N'اسلام قله', N'اسلام قله', 1)
SET IDENTITY_INSERT [dbo].[BorderCrossingPoints] OFF
SET IDENTITY_INSERT [dbo].[BroughtItems] ON 

INSERT [dbo].[BroughtItems] ([ID], [BeneficiaryID], [ItemCode], [ItemOther]) VALUES (1002, 1005, N'Livestock', NULL)
INSERT [dbo].[BroughtItems] ([ID], [BeneficiaryID], [ItemCode], [ItemOther]) VALUES (1003, 1005, N'HItems', NULL)
INSERT [dbo].[BroughtItems] ([ID], [BeneficiaryID], [ItemCode], [ItemOther]) VALUES (1004, 1005, N'Clothes', NULL)
SET IDENTITY_INSERT [dbo].[BroughtItems] OFF
SET IDENTITY_INSERT [dbo].[Determinations] ON 

INSERT [dbo].[Determinations] ([ID], [BeneficiaryID], [DeterminationCode], [AnswerCode], [Other]) VALUES (1002, 1005, N'ATJ', N'SIMP', NULL)
INSERT [dbo].[Determinations] ([ID], [BeneficiaryID], [DeterminationCode], [AnswerCode], [Other]) VALUES (1003, 1005, N'POFM', N'VIMP', NULL)
INSERT [dbo].[Determinations] ([ID], [BeneficiaryID], [DeterminationCode], [AnswerCode], [Other]) VALUES (2008, 8, N'ATJ', N'NAAIMP', NULL)
SET IDENTITY_INSERT [dbo].[Determinations] OFF
SET IDENTITY_INSERT [dbo].[Districts] ON 

INSERT [dbo].[Districts] ([DistrictId], [DistrictCode], [ProvinceCode], [EnName], [DrName], [PaName], [IsActive]) VALUES (1, 2903, N'BDG', N'Abkamari', N'آب کمری', N'آب کمری', 1)
INSERT [dbo].[Districts] ([DistrictId], [DistrictCode], [ProvinceCode], [EnName], [DrName], [PaName], [IsActive]) VALUES (2, 2906, N'BDG', N'Balamurghab', N'بالا مرغاب', N'بالا مرغاب', 1)
INSERT [dbo].[Districts] ([DistrictId], [DistrictCode], [ProvinceCode], [EnName], [DrName], [PaName], [IsActive]) VALUES (3, 2907, N'BDG', N'Ghormach', N'غورماچ', N'غورماچ', 1)
GO
SET IDENTITY_INSERT [dbo].[Districts] OFF
SET IDENTITY_INSERT [dbo].[HostCountryDistricts] ON 

INSERT [dbo].[HostCountryDistricts] ([DistrictId], [ProvinceId], [EnName], [DrName], [PaName], [IsActive]) VALUES (1, 1, N'Karaj County', N'شهرستان کــرج', N'شهرستان کــرج', 1)
INSERT [dbo].[HostCountryDistricts] ([DistrictId], [ProvinceId], [EnName], [DrName], [PaName], [IsActive]) VALUES (2, 1, N'Nazarabad County', N'شهرستان نظرآباد', N'شهرستان نظرآباد', 1)
INSERT [dbo].[HostCountryDistricts] ([DistrictId], [ProvinceId], [EnName], [DrName], [PaName], [IsActive]) VALUES (3, 1, N'Savojbolagh County', N'شهرستان ساوجبلاغ', N'شهرستان ساوجبلاغ', 1)
GO
SET IDENTITY_INSERT [dbo].[HostCountryDistricts] OFF
SET IDENTITY_INSERT [dbo].[HostCountryProvinces] ON 

INSERT [dbo].[HostCountryProvinces] ([ProvinceId], [CountryCode], [EnName], [DrName], [PaName], [IsActive]) VALUES (1, N'IRN', N'Alborz Province', N'البرز', N'البرز', 1)
INSERT [dbo].[HostCountryProvinces] ([ProvinceId], [CountryCode], [EnName], [DrName], [PaName], [IsActive]) VALUES (2, N'IRN', N'Ardabil Province', N'اردبیل', N'اردبیل', 1)
INSERT [dbo].[HostCountryProvinces] ([ProvinceId], [CountryCode], [EnName], [DrName], [PaName], [IsActive]) VALUES (3, N'IRN', N'Bushehr Province', N'بوشهر', N'بوشهر', 1)
SET IDENTITY_INSERT [dbo].[HostCountryProvinces] OFF
SET IDENTITY_INSERT [dbo].[HostCountrySchool] ON 

INSERT [dbo].[HostCountrySchool] ([ID], [BeneficiaryID], [SchoolTypeCode]) VALUES (1, 4, N'Primary')
INSERT [dbo].[HostCountrySchool] ([ID], [BeneficiaryID], [SchoolTypeCode]) VALUES (2, 4, N'Secondary')
INSERT [dbo].[HostCountrySchool] ([ID], [BeneficiaryID], [SchoolTypeCode]) VALUES (2006, 8, N'Primary')
SET IDENTITY_INSERT [dbo].[HostCountrySchool] OFF
SET IDENTITY_INSERT [dbo].[Individuals] ON 

INSERT [dbo].[Individuals] ([IndividualID], [BeneficiaryID], [Name], [DrName], [FName], [DrFName], [GenderCode], [MaritalStatusCode], [Age], [IDTypeCode], [IDNo], [RelationshipCode], [ContactNumber]) VALUES (1002, 1005, N'Jomah khah', N'جمه خان', N'Kamal kha', N'کمال خان', N'M', N'SG', 20, N'TZ', N'34', N'HSelf', N'07923432')
INSERT [dbo].[Individuals] ([IndividualID], [BeneficiaryID], [Name], [DrName], [FName], [DrFName], [GenderCode], [MaritalStatusCode], [Age], [IDTypeCode], [IDNo], [RelationshipCode], [ContactNumber]) VALUES (1007, 8, N'Khan', N'خان', N'jan', N'جان', N'M', N'MR', 24, N'TZ', N'24', N'HH', N'0794671076')
INSERT [dbo].[Individuals] ([IndividualID], [BeneficiaryID], [Name], [DrName], [FName], [DrFName], [GenderCode], [MaritalStatusCode], [Age], [IDTypeCode], [IDNo], [RelationshipCode], [ContactNumber]) VALUES (1008, 8, N'Gul', N'', N'Kamal', N'', N'F', N'EG', 20, N'TZ', N'34954', N'MO', N'079234324')
SET IDENTITY_INSERT [dbo].[Individuals] OFF
SET IDENTITY_INSERT [dbo].[LivelihoodEmpNeeds] ON 

INSERT [dbo].[LivelihoodEmpNeeds] ([ID], [NeedCode], [BeneficiaryID]) VALUES (1002, N'VTFH', 1005)
INSERT [dbo].[LivelihoodEmpNeeds] ([ID], [NeedCode], [BeneficiaryID]) VALUES (2006, N'VTFH', 8)
INSERT [dbo].[LivelihoodEmpNeeds] ([ID], [NeedCode], [BeneficiaryID]) VALUES (2007, N'POT', 8)
SET IDENTITY_INSERT [dbo].[LivelihoodEmpNeeds] OFF
SET IDENTITY_INSERT [dbo].[LookupTypes] ON 

INSERT [dbo].[LookupTypes] ([LookupId], [LookupCode], [EnName], [DrName], [PaName], [IsActive]) VALUES (1, N'GENDER', N'Gender', N'جنسیت', N'جنسیت', 1)
INSERT [dbo].[LookupTypes] ([LookupId], [LookupCode], [EnName], [DrName], [PaName], [IsActive]) VALUES (2, N'IDTYPE', N'ID Type', N'نوع شناسه', N'نوع شناسه', 1)
INSERT [dbo].[LookupTypes] ([LookupId], [LookupCode], [EnName], [DrName], [PaName], [IsActive]) VALUES (4, N'MARSTAT', N'Marital Status', N'Marital Status', N'Marital Status', 1)
SET IDENTITY_INSERT [dbo].[LookupTypes] OFF
SET IDENTITY_INSERT [dbo].[LookupValues] ON 

INSERT [dbo].[LookupValues] ([ValueId], [LookupCode], [ValueCode], [EnName], [DrName], [PaName], [IsActive]) VALUES (1, N'GENDER', N'M', N'Male', N'مرد', N'نارینه', 1)
INSERT [dbo].[LookupValues] ([ValueId], [LookupCode], [ValueCode], [EnName], [DrName], [PaName], [IsActive]) VALUES (3, N'GENDER', N'F', N'Female', N'زن', N'ښځينه', 1)
INSERT [dbo].[LookupValues] ([ValueId], [LookupCode], [ValueCode], [EnName], [DrName], [PaName], [IsActive]) VALUES (7, N'RSTATUS', N'DEP', N'Deported', N'اخراج شده', N'شړل شوی', 1)
GO
SET IDENTITY_INSERT [dbo].[LookupValues] OFF
SET IDENTITY_INSERT [dbo].[MainConcerns] ON 

INSERT [dbo].[MainConcerns] ([ID], [BeneficiaryID], [ConcernCode], [Other]) VALUES (1002, 1005, N'LackOfLand', NULL)
INSERT [dbo].[MainConcerns] ([ID], [BeneficiaryID], [ConcernCode], [Other]) VALUES (1003, 1005, N'LackOfHousing', NULL)
INSERT [dbo].[MainConcerns] ([ID], [BeneficiaryID], [ConcernCode], [Other]) VALUES (2008, 8, N'WAY3MCOther', N'other conern')
SET IDENTITY_INSERT [dbo].[MainConcerns] OFF
SET IDENTITY_INSERT [dbo].[MoneySources] ON 

INSERT [dbo].[MoneySources] ([ID], [BeneficiaryID], [MoneySourceCode], [MoneySourceOther]) VALUES (1008, 8, N'MFRPOther', N'other source for rental')
INSERT [dbo].[MoneySources] ([ID], [BeneficiaryID], [MoneySourceCode], [MoneySourceOther]) VALUES (1009, 8, N'BFFF', NULL)
INSERT [dbo].[MoneySources] ([ID], [BeneficiaryID], [MoneySourceCode], [MoneySourceOther]) VALUES (1010, 8, N'Savings', NULL)
SET IDENTITY_INSERT [dbo].[MoneySources] OFF
SET IDENTITY_INSERT [dbo].[NeedTools] ON 

INSERT [dbo].[NeedTools] ([ID], [BeneficiaryID], [ToolCode], [Other]) VALUES (1006, 8, N'ToolsOther', N'some other tools')
INSERT [dbo].[NeedTools] ([ID], [BeneficiaryID], [ToolCode], [Other]) VALUES (1007, 8, N'TMechanic', NULL)
SET IDENTITY_INSERT [dbo].[NeedTools] OFF
SET IDENTITY_INSERT [dbo].[PostArrivalNeeds] ON 

INSERT [dbo].[PostArrivalNeeds] ([ID], [BeneficiaryID], [NeedCode], [Provided], [ProvidedDate], [Comment]) VALUES (1002, 1005, N'TBRC', 1, CAST(N'2020-03-26T10:41:16.227' AS DateTime), N'some comment trans')
INSERT [dbo].[PostArrivalNeeds] ([ID], [BeneficiaryID], [NeedCode], [Provided], [ProvidedDate], [Comment]) VALUES (1003, 1005, N'PR', 1, CAST(N'2020-03-12T10:41:16.000' AS DateTime), NULL)
INSERT [dbo].[PostArrivalNeeds] ([ID], [BeneficiaryID], [NeedCode], [Provided], [ProvidedDate], [Comment]) VALUES (2006, 8, N'TBRC', 1, CAST(N'2020-03-26T08:53:05.323' AS DateTime), N'some comment for Trans')
SET IDENTITY_INSERT [dbo].[PostArrivalNeeds] OFF
SET IDENTITY_INSERT [dbo].[Provinces] ON 

INSERT [dbo].[Provinces] ([ProvinceId], [ProvinceCode], [MapCode], [EnName], [DrName], [PaName], [IsActive]) VALUES (1, N'BDG', N'af-bg', N'Badghis', N'بادغیس', N'بادغیس', 1)
INSERT [dbo].[Provinces] ([ProvinceId], [ProvinceCode], [MapCode], [EnName], [DrName], [PaName], [IsActive]) VALUES (2, N'BDK', N'af-bd', N'Badakhshan', N'بدخشان', N'بدخشان', 1)
INSERT [dbo].[Provinces] ([ProvinceId], [ProvinceCode], [MapCode], [EnName], [DrName], [PaName], [IsActive]) VALUES (3, N'BGN', N'af-bl', N'Baghlan', N'بغلان', N'بغلان', 1)
SET IDENTITY_INSERT [dbo].[Provinces] OFF
SET IDENTITY_INSERT [dbo].[PSN] ON 

INSERT [dbo].[PSN] ([ID], [BeneficiaryID], [PSNCode], [PSNOther]) VALUES (1002, 1005, N'UMC', NULL)
INSERT [dbo].[PSN] ([ID], [BeneficiaryID], [PSNCode], [PSNOther]) VALUES (1003, 1005, N'MH', NULL)
INSERT [dbo].[PSN] ([ID], [BeneficiaryID], [PSNCode], [PSNOther]) VALUES (1004, 1005, N'DP', NULL)
SET IDENTITY_INSERT [dbo].[PSN] OFF
SET IDENTITY_INSERT [dbo].[ReturnReasons] ON 

INSERT [dbo].[ReturnReasons] ([ID], [BeneficiaryID], [ReasonCode], [Other]) VALUES (1002, 1005, N'FOD', NULL)
INSERT [dbo].[ReturnReasons] ([ID], [BeneficiaryID], [ReasonCode], [Other]) VALUES (1003, 1005, N'IO', NULL)
INSERT [dbo].[ReturnReasons] ([ID], [BeneficiaryID], [ReasonCode], [Other]) VALUES (2008, 8, N'RROther', N'return reason other')
SET IDENTITY_INSERT [dbo].[ReturnReasons] OFF
SET IDENTITY_INSERT [dbo].[Transportations] ON 

INSERT [dbo].[Transportations] ([ID], [BeneficiaryID], [TypedCode], [Other]) VALUES (1002, 1005, N'HOTH', NULL)
INSERT [dbo].[Transportations] ([ID], [BeneficiaryID], [TypedCode], [Other]) VALUES (1003, 1005, N'TBH', NULL)
INSERT [dbo].[Transportations] ([ID], [BeneficiaryID], [TypedCode], [Other]) VALUES (2008, 8, N'TransportOther', N'other transportation ')
SET IDENTITY_INSERT [dbo].[Transportations] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BorderCrossingPoints]    Script Date: 4/2/2020 7:29:25 PM ******/
ALTER TABLE [dbo].[BorderCrossingPoints] ADD  CONSTRAINT [IX_BorderCrossingPoints] UNIQUE NONCLUSTERED 
(
	[BCPCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Districts]    Script Date: 4/2/2020 7:29:25 PM ******/
ALTER TABLE [dbo].[Districts] ADD  CONSTRAINT [IX_Districts] UNIQUE NONCLUSTERED 
(
	[DistrictCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LookupTypes]    Script Date: 4/2/2020 7:29:25 PM ******/
ALTER TABLE [dbo].[LookupTypes] ADD  CONSTRAINT [IX_LookupTypes] UNIQUE NONCLUSTERED 
(
	[LookupCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LookupValues]    Script Date: 4/2/2020 7:29:25 PM ******/
ALTER TABLE [dbo].[LookupValues] ADD  CONSTRAINT [IX_LookupValues] UNIQUE NONCLUSTERED 
(
	[ValueCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Provinces]    Script Date: 4/2/2020 7:29:25 PM ******/
ALTER TABLE [dbo].[Provinces] ADD  CONSTRAINT [IX_Provinces] UNIQUE NONCLUSTERED 
(
	[ProvinceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Provinces_1]    Script Date: 4/2/2020 7:29:25 PM ******/
ALTER TABLE [dbo].[Provinces] ADD  CONSTRAINT [IX_Provinces_1] UNIQUE NONCLUSTERED 
(
	[MapCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Beneficiaries] ADD  CONSTRAINT [DF_Beneficiaries_IsSubmitted]  DEFAULT ((0)) FOR [IsSubmitted]
GO
ALTER TABLE [dbo].[Beneficiaries] ADD  CONSTRAINT [DF_Beneficiaries_IsCardIssued]  DEFAULT ((0)) FOR [IsCardIssued]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
USE [master]
GO
